<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.carwash.dao.admin.AdminMapper">

 
	<!-- 공지사항 -->
	<select id="noticeListPage" resultType="kr.green.carwash.vo.admin.AdminNoticeVO">
		SELECT 
			*
		FROM
			notice_board
		ORDER BY ID DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id="countNotice" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			notice_board
	</select>

	<insert id="noticeInsert" parameterType="kr.green.carwash.vo.admin.AdminNoticeVO"> 
		INSERT INTO notice_board (
			title
			, contents
			, registered_id
			, registered_date
		)VALUES(
			#{title}
			, #{contents}
			, #{registered_id}
			, now()
		)
	</insert>

	<select id="noticeRead" resultType="kr.green.carwash.vo.admin.AdminNoticeVO">
		select
			id 
			, title
			, cnt
			, contents
			, registered_id
			, registered_date
		from
			notice_board
		where
			id = #{id}
	</select>
	
	<update id="noticeCnt" parameterType="int">
		UPDATE
			notice_board
		SET
			cnt = cnt + 1
		WHERE
			id = #{id}
	</update>

	<update id="noticeUpdate">
		update
			notice_board
		set
			title = #{title}
			, contents = #{contents}
			, registered_id = #{registered_id}
			, registered_date = now()
			, updated_id = #{registered_id}
			, updated_date = now()
		where
			id = #{id}
	</update>

	<delete id="noticeDelete">
		delete from 
			notice_board
		where
			id = #{id}
	</delete>



	<!-- 자유게시판 -->
	<select id="countBoard" resultType="int">
		select 
			count(*)
		from
			free_board
	</select>

	<select id="boardListPage" resultType="kr.green.carwash.vo.admin.AdminFreeBoardVO">
		select
			*
		from
			free_board
		ORDER BY ID DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>

	<select id="boardRead" resultType="kr.green.carwash.vo.admin.AdminFreeBoardVO">
		select
			id
			, title
			, contents
			, cnt
			, short_comment
			, registered_id
			, registered_date
			, file_name
		from
			free_board
		where
			id = #{id}
	</select>
	
	<update id="freeBoardCnt" parameterType="int">
		UPDATE
			free_board
		SET
			cnt = cnt + 1
		WHERE
			id = #{id}
	</update>
	
	<insert id="freeInsert" parameterType="kr.green.carwash.vo.admin.AdminFreeBoardVO">
		INSERT INTO free_board (
			title
			, contents
			, registered_id
			, file_name
			, registered_date
		)VALUES(
			#{title}
			, #{contents}
			, #{registered_id}
			, #{file_name}
			, now()
		)
	</insert>
	
	<update id="freeUpdate">
		update
			free_board
		set
			title = #{title}
			, contents = #{contents}
			, file_name = #{file_name}
			, registered_id = #{registered_id}
			, registered_date = now()
			, updated_id = #{registered_id}
			, updated_date = now()
		where
			id = #{id}
	</update>
	
	
	<delete id="freeDelete">
		delete from free_board
		where id = #{id}
	</delete>
	
	
	<!-- 회원가입 -->
	
	<select id="carwashInfo" resultType="kr.green.carwash.vo.admin.AdminMemberVO">
		select 
			code
			, busin_place_code_name 
		from 
			busin_place 
		where 
			code = #{code}
	</select>
	<select id="carwashInfoAll" resultType="kr.green.carwash.vo.admin.AdminMemberVO">
		select 
			code
			, busin_place_code_name 
		from 
			busin_place 
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>