<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.green.carwash.dao.user.UserMapper">

	
	<!-- 회원가입 -->
	<insert id="insertUserJoin" parameterType="kr.green.carwash.vo.user.MemberVO">
		INSERT INTO user_account (
			user_id
			, user_passwd
			, user_name
			, address
			, birth
			, phone_num
			, email
			, phone_yn
			, email_yn
			, zip_code
			, registered_date
		)VALUES(
			#{user_id}
			, #{user_passwd}
			, #{user_name}
			, #{address}
			, #{birth}
			, #{phone_num}
			, #{email}
			, #{phone_yn}
			, #{email_yn}
			, #{zip_code}
			, now()
		)
	</insert>

	<!-- 로그인 -->
	<select id="login" resultType="kr.green.carwash.vo.user.MemberVO">
		select 
			* 
		from 
			user_account 
		where 
			user_id = #{id} 
		and user_passwd = #{passwd}
	</select>
	
	<select id="loginById" resultType="kr.green.carwash.vo.user.MemberVO">
		select 
			* 
		from 
			user_account 
		where 
			user_id = #{id}
	</select>
	
	
	<!-- 예약하기 -->
	<select id="sidoListAll" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			code
			, sido_name
		from
			sido
	</select>
	
	<select id="cityListAll" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			code
			, city_name
		from
			city
	</select>
	
	<select id="businNameListAll" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			busin_place_name
		from
			carwash
		where 
			busin_place_name is not null 
		group by busin_place_name
	</select>
	
	
	<select id="categoryListAll" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			category
		from
			car_category
	</select>
	
	
	<select id="cityList" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			city_name
		from
			carwash
		where
			sido_name = #{sido}
		and city_name is not null
		group by city_name
	</select>
	
	
	<select id="businNameList" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			city_name, busin_place_name
		from
			carwash
		where
			sido_name = #{sido}
		and city_name = #{city}
		and busin_place_name is not null
		group by busin_place_name
	</select> 
	
	
	<insert id="reserveInsert" parameterType="kr.green.carwash.vo.user.ReserveVO">
		INSERT INTO reserve (
			reserv_name
			, reserv_phone
			, reserv_email
			, reserv_passwd
			, sido_name
			, city_name
			, busin_place_name
			, carwash_type
			, reserv_date
			, reserv_time
			, category
			, car_model
			, car_number
			, request_message
			, registered_id
			, registered_date
		)VALUES(
			#{reserv_name}
			, #{reserv_phone}
			, #{reserv_email}
			, #{reserv_passwd}
			, #{sido_name}
			, #{city_name}
			, #{busin_place_name}
			, #{carwash_type}
			, #{reserv_date}
			, #{reserv_time}
			, #{category}
			, #{car_model}
			, #{car_number}
			, #{request_message}
			, #{registered_id}
			, now()
		)
	</insert> 
	
	<select id="reserveList" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			*
		from
			reserve
		order by registered_date desc
	</select>
	
	
	<select id="reserveRead" resultType="kr.green.carwash.vo.user.ReserveVO">
		select
			*
		from
			reserve
		where
			reserv_no = #{reserv_no}
	</select>
	
	
	
	<update id="reserveUpdate">
		UPDATE reserve 
		SET
			reserv_name = #{reserv_name}
			, reserv_phone = #{reserv_phone}
			, reserv_email = #{reserv_email}
			, reserv_passwd = #{reserv_passwd}
			, sido_name = #{sido_name}
			, city_name = #{city_name}
			, busin_place_name = #{busin_place_name}
			, carwash_type = #{carwash_type}
			, reserv_date = #{reserv_date}
			, reserv_time = #{reserv_time}
			, category = #{category}
			, car_model = #{car_model}
			, car_number = #{car_number}
			, request_message = #{request_message}
			, registered_id = #{registered_id}
			, registered_date = now()
		WHERE
			reserv_no = #{reserv_no}
	</update> 
	
	
	<delete id="reserveDelete">
		delete from reserve
		where
			reserv_no = #{reserv_no}
	</delete>
	
	
	
	<!-- 마이페이지 -->
	<select id="myPageRead" resultType="kr.green.carwash.vo.user.MemberVO">
		select
			user_id
			, user_passwd
			, user_name
			, phone_num
			, phone_yn
			, birth
			, email
			, email_yn
			, zip_code
			, address
			, detail_address
			, registered_date
		from
			user_account
		where
			user_id = #{user_id}
	</select>
	
	
	<update id="myUpdateExceptPasswd">
		update
			user_account
		set
			phone_num = #{phone_num}
			, phone_yn = #{phone_yn}
			, email =  #{email}
			, email_yn = #{email_yn}
			, zip_code =  #{zip_code}
			, address = #{address}
			, detail_address = #{detail_address}
			, registered_date = now()
			, updated_date = now()
		where
			user_id = #{user_id}
	</update>
	
	
	<update id="myUpdate">
		update
			user_account
		set
			phone_num = #{phone_num}
			, user_passwd = #{user_passwd}
			, phone_yn = #{phone_yn}
			, email =  #{email}
			, email_yn = #{email_yn}
			, zip_code =  #{zip_code}
			, address = #{address}
			, detail_address = #{detail_address}
			, registered_date = now()
			, updated_date = now()
		where
			user_id = #{user_id}
	</update>
	
	
	<delete id="myDelete">
		delete from	user_account
		where
			user_id = #{user_id}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>